@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background: url(images/background.png)center no-repeat fixed;
    background-size: cover;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    font-family: 'Abril Fatface', cursive;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #5AB9A8;
}

.hero {
    background: url(images/catlogo.png)no-repeat center center;
    background-size: contain;
    color: #f4f4f4;
    text-align: center;
    padding: 100px 0;
    position: relative;
    height: 170px;

}

.hero h1 {
    font-size: 2.5em;
    margin-top: 3rem;
    font-family: 'Dancing Script', cursive;
    
}

.hero p {
    font-size: 1.5em;
    margin: 10px 0;
    font-family: 'Dancing Script', cursive;
}

section.about-me {
    background-color: #ffffff
}

#about-me img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border: 1px solid #333;
    border-radius: 50%;
}

#about-me {
    background: rgba(255, 255, 255, 0.8);
}

#skills {
    background: rgba(255, 255, 255, 0.8);
}

#contact {
    background: rgba(255, 255, 255, 0.8);
}


section {
    padding: 80px 50px;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease-out;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}

section h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    font-family: 'Abril Fatface', cursive;

}

section p {
    font-size: 1.2em;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Hiragino Maru Gothic Pro', sans-serif;
}

section img {
    width: 200px;
    height: 200px;
    max-width: 300px;
    margin: 0px 0;
}




.works-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}
.work-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.work-item {
    flex: 1 1 20%;
    margin: 10px;
    cursor: pointer;
    text-align: center;
}

.work-item h2 {
    margin-top: 10px;
}



.skills-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill-item {
    flex: 1 1 20%;
    margin: 10px;
    cursor: pointer;
    text-align: center;
}

.skill-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.skill-item h2 {
    margin-top: 10px;
}


.timeline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding-left: 50px;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50px;
    width: 4px;
    height: 100%;
    background: #333;
}

.timeline::after {
    content: '▼';
    position: absolute;
    left: 40px;
    bottom: -10px;
    font-size: 24px;
    color: #333;
}

.timeline-item {
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
    position: relative;
}

.timeline-item h2 {
    margin: 0;
    font-size: 1.5em;
    padding: 5px 10px;
    margin-left: 20px;
    position: absolute;
    left: -100px;
    font-family: 'Abril Fatface', cursive;
}

.timeline-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #333;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 50%;
}

.timeline-item p {
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #333;
    border-radius: 5px;
    flex: 1;
    font-size: 0.8rem;
    width: 80%;
}



footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

form label {
    width: 100%;
    text-align: left;
    margin-top: 10px;
    font-size: 1.2em;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background: #5AB9A8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

form button:hover {
    background: #499d91;
}


/* 画面が小さい時用のCSS */
@media (max-width: 768px) {

    body {
        font-family: 'Helvetica Neue', Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
        background: url(images/b4.png)center center no-repeat fixed;
        background-size: cover;
        color: #333;
    }

    header {
        padding: 10px;
        font-size: 0.8rem;
    }

    nav ul li {
        margin: 0 8px;
    }
    section h1 {
        font-size: 1.8em;
        margin-bottom: 10px;
        font-family: 'Abril Fatface', cursive;
    
    }
    
    section p {
        font-size: 0.9rem;
        line-height: 1.5;
        max-width: 800px;
        margin: 0 auto;
        font-family: 'Hiragino Maru Gothic Pro', sans-serif;
    }





    .hero {
        padding: 50px 0;
        height: auto;
    }

    

    




    .timeline {
        padding-left: 30px;
    }
 

    .timeline-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .timeline-item h2 {
        margin-bottom: 10px;
        position: absolute;
        left: -80px;
    }

    .timeline-item img {
        margin-right: 0;
        margin-left: 40px;
        margin-bottom: 10px;
    }

    .timeline-item p {
        width: 80%;
        position:relative;
        margin-left: 40px;
        font-size: 0.8rem;
    }

    .contact p {
        font-size: 0.8rem;
    }

    
}



.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.modal-content img {
    width: 120px;
    
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-detail {
    display: none;
}

.modal-detail.active {
    display: block;
}
